/*
 wssccc all rights reserved
*/
/* 
    Created on : 2013-11-21, 22:15:42
    Author     : wssccc <wssccc@qq.com>
*/

body{
    font-family: Georgia,"Times New Roman", Times, serif;
    background-color: #fbfbfb;
    color: #080000;
    /*background-image: url(../img/pinstripe-light.png);*/
}

.breadcrumb
{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.archive-heading
{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.archive-content
{
    font-size: 18px;
    line-height: 29px;
    color: #080000;
}

hr{
    margin-top: 5px;
    margin-bottom: 15px;
}

.archive{
    margin-bottom: 20px;
}
.post{
    margin-bottom: 10px;
}
.time{
    font-family: "Times New Roman",Times, serif;
    font-style: italic;
    color:  #cccccc;
    margin-top: 8px;
    margin-right: 2em;
}

.container
{
    max-width: 800px;
}

.post-heading
{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.tag-heading
{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
.post-content
{
    font-size: 18px;
    line-height: 29px;
    color: #080000;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
}

.site-heading
{
    font-size: 33px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
.site-heading-container
{
    margin-bottom: 20px;
}

.footer
{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-style: italic;
}

.rss{
}

.tag_a{
    margin-left: 10px;
}

.post-content img{
    max-width: 100%;

}

.archive-content img{
    max-height: 300px;
}

#desc
{
    font-size: 20px;
    line-height: 30px;
    color: #080000;
}

#desc:first-letter
{
    font-size: 30px;
    font-weight: bold;
}

#desc-heading
{
    font-family:  "Times New Roman", Times, serif;
    font-size: 15px;
    padding-bottom: 20px;
}


img.user-image{
    cursor: url(../img/big.cur) ,auto!important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px;
    border-top: 1px solid #ddd;
}

.container #posts{
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}